.container {
  width: 1340px;
  display: flex;
  height: 100vh;
}

.wrapper {
  width: 70%;
  border-right: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    height: 150px;
    width: 250px;
    background: aqua;
  }
}

.settings {
  width: 30%;
  display: flex;
  flex-direction: column;
}


.controls {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
  }
}